body{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
#hero{
    height:150vh;
    width: 100%;
    background-image: url("/assets/main new.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    /* padding-top: 1rem; */
}
.food{
    width: clamp(8rem,15vw, 17rem);
}
.express{
    font-size: clamp(0.55rem, 2.125vw, 0.75rem);
    font-weight: 600;
}
.number{
    font-size: clamp(0.8rem, 3.5vw, 1.1rem);
    font-weight: 900;
}
.smartphone{
    width: clamp(2.8rem,10vw,3.6rem);
}
.line-spac{
    line-height: 1.5rem;
}
.dancing-script{
    font-family: 'Dancing Script', cursive;
    font-size: 3rem;
}
.fred{
    font-family: 'Fredericka the Great', cursive;
}
.offer{
    font-size: 3rem;
}
.fred-large{
    font-size: 4.5rem;
}
.left-section{
    width: max-content;
    margin-left: 10%;
}
.left-section h3{
    font-size: clamp(2.7rem, 4vw, 4rem);
}
.left-section-1{
    margin-bottom: 0;
}
.left-section-1 *{
    line-height: 2rem;
}
hr:not([size]){
    height: 5px;
}
hr{
    color: black;
}
.headline{
    font-size: 1.2rem;
    font-weight: 700;
}
.order-btn{
    text-decoration: none;
    color: black;
    font-weight: 700;
}
.order-btn:hover{
    background-color: rgba(255, 255, 255, 0.851);
}
.nav-link{
    color: black;
    letter-spacing: 0.2rem;
    font-size: small;
    font-weight: 800;
    margin-left: 2rem;
}
.navbar-section{
    width: 100%;
    padding: 0 1.2rem;
}
.nav-link:hover{
    color: #0F6292;
}
.left-section{
    padding-top: 5rem;
}
.left-section *{
    margin-bottom: 2rem;
}
.order{
    background-color: #fee100;
    font-size: small;
}
.events{
    margin-top: 5rem;
}
.menu{
    position: relative;
}
.yellow-back{
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    height: 100px;
    background-color: #e8e7a7;
}
.card{
    background-color: transparent;
    position: relative;
}
.card-body{
    background-color: transparent;
}
.card-yellow::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100px;
    left: 0;
    background-color: red;
    top: 19%;
    /* transform: translateY(-30%); */
    z-index: 0;

}
.slider{
    margin-top: 2rem;
    margin-bottom: 20px;
    /* position: relative; */
}
.slider .owl-item.active.center .slider-card{
    transform: scale(1.15);
}
.slider .owl-item.active.center .slider-card::before{
    background: none;
}
.slider-card{
    transform: scale(0.9);
    transition: all 0.3s;
}
.slider-card::before{
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5));
}
.dot{
    width: 15px;
    height: 15px;
    border-radius: 100%;
    margin: 0 1rem;
    border: 0;
}
.owl-dot.active .dot{
    background-color: #fee100;
}
.owl-next span{
    padding: 1rem;
    padding-top: 0;
    font-size: 3rem;
    background-color: none;
    border-radius: 5;
}
.owl-prev span{
    font-size: 3rem;
    padding: 1rem;
}
.owl-next span:hover{
    background-color: none;
}
.upcoming-left{
    background: url("/assets/up\ 1.jpg") no-repeat;
    background-size: cover;
    padding: 2.5rem;
    height: 25rem;
    line-height: 2.5rem;
}
.upcoming{
    margin-top: 5rem;
    margin-bottom: 5rem;
}
.upcoming-right-1{
    background: url("/assets/up\ 2.jpg") no-repeat;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    padding: 1.5rem;
    line-height: 2rem;
}
.upcoming-right-2{
    background: url("/assets/up\ 3.jpg") no-repeat;
    width: 100%;
    height: 100%;
    background-size: cover;
    padding: 1.5rem;
    line-height: 2rem;
}
.submit-btn{
    background-color: #fee100;
}
.footer{
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url("/assets/footer.jpg");
    background-size: cover;
    background-position: right;
    background-repeat: no-repeat;
    height:70vh;
    width: 100%;
    
}
.footer *{
    font-size: clamp(0.75rem,2.5vw, 1rem);
}
.icon{
    color: #fee100;
}
.copyright{
    margin-top: 13%;
}
.logo i{
    color: black;
    padding: 0.5rem;
    border-radius: 100%;
    background: white;
    margin: 0.2rem;
}
.footer{
    margin-top: 3rem;
}
.text-row{
    /* border: 5px solid; */
    margin-top: 5rem;
}
.fa-brands{
    margin-bottom: 0;
}
.footer-img{
    max-width: 200px;
}
@media screen and (max-width: 820px){
    .footer{
        font-size: 0.9rem;
    }
    .copyright{
        margin-top: 7%;
    }
}
@media (max-width: 621px){
    .line-spac{
        font-size: 0.8rem;
    }
}
@media screen and (max-width: 480px){
    .text-content p{
        display: none;
    }
}
@media (max-width: 550px){
    .left-section{
        width: 90%;
        margin-left: auto;
    }

}
